/* You can add global styles to this file, and also import other style files */

body {
  font-family: "unifysans", "Helvetica", "Arial", "Lato", sans-serif;
  margin: 0px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-capitalize {
  text-transform: capitalize;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
